#nav {
    position: absolute;
    right: 0;
    margin: 0px 30px 0px 0px;
    /* transition: font-size 0.2s;
    color: var(--text-primary-color);
    display: grid;
    grid-template-columns: 1% 25% 50% 75%; */

    /* position: absolute;
    float: right;
    right: 0px;
    margin-right: 2%;
    font-size: 1.3rem;
    transition: font-size 0.2s;
    color: var(--text-primary-color);
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 65%;
    height: 10%;
    align-items: center;
    align-content: center;
    text-align: center; */
}

#nav-list {
    display: flex;
}

#nav-list li::before {
    position: fixed;
    text-align: center;
}

#nav-list li {
    margin: 0px 20px 0px 20px;
}

#nav a {
    text-shadow: var(--text-shadow);
    /* margin-left: 20px; */
    vertical-align: middle;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-primary-color);
    transition: font-size 0.2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

#nav a:hover {
    color: var(--link-highlight-color);
}

#nav a.router-link-exact-active {
    color: var(--link-active-color);  
    font-size: 2rem;
    transition: font-size 0.2s;
}