#nav {
    padding: 30px;
    padding-bottom: 10px;
}
  
#nav a {
    font-weight: bold;
    margin: 20px;
    color: var(--text-primary-color);
}

#nav a.router-link-exact-active {
    color: var(--link-active-color);  
}